.js-container-about
    cursor: crosshair
.artist-name
    display: flex
    font-size: 16px
    left: -5%
    overflow: hidden
    position: absolute
    top: 2%
    user-select: none
    z-index: 99
    @media screen and (max-width: 720px)
        display: none
    &.hidden
        display: none

.artist-description
    background-color: floralwhite
    font-family: "Karla"
    font-weight: lighter
    left: 50%
    line-height: 30px
    position: absolute
    text-align: center
    top: 50%
    transform: translate(-50%, -50%)
    user-select: none
    width: 60%
    span
        letter-spacing: 0.2px
    .social
        display: flex
        justify-content: center
        padding-top: 20px
        position: absolute
        width: 100%
        .instagram, .email
            width: 25%
            @media screen and (max-width: 720px)
                width: 45%
            a
                color: inherit
                font-family: "Akzidenz"
                padding: 20px
                text-decoration: none
.surnom
    span
        font-size: 3rem
        left: 35%
        opacity: 0.1
        position: absolute
        top: 50%
        user-select: none
        @media screen and (max-width: 720px)
            display: none
