.container
    cursor: none
    font-family: 'Akzidenz'
    font-weight: bold
    height: 100vh
    overflow: hidden
    position: relative
    width: 100%
    .content, .content--inner
        height: 100vh
